
.editorContainer{
  flex-grow: 1;
  margin: 10px;
  max-width: 420px;
  
}

.CodeMirror{
  background-color:#1f2024 !important;
  color: yellow !important;
}

.CodeMirror-gutters{
  background-color: #1f2024 !important;
 border-right: #222222 !important;
}

.split{
  display: flex;
 background-color: black;
}

.gutter{
  
  cursor: col-resize;
}
